.create-account-card {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}

.full-width {
  width: 100%;
}

mat-card-header {
  margin-bottom: 20px;
}

mat-form-field {
  margin-bottom: 16px;
}

button {
  width: 100%;
  margin-top: 20px;
}

mat-card-footer {
  margin-top: 20px;
}
